/* Styles go here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nft_front {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  background: red;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

main {
  background: aliceblue;
  flex: 1;
  text-align: center;
  padding: 12px;
}

footer {
  background: black;
  color: white;
}
